<html ng-app="mainApp">
<head>
	<title>Memorize Volcabulary</title>
	<script src="/angular/angular.js"></script>
	<script src="/js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="/pure/pure.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script src="/angular-route/angular-route.js"></script>
	<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
<body ng-controller="mainCtrl as main">
	<h1 class="title">Memor</h1>
	<hr class="top_bar">
	<div class="container">
<div class="query">
	<center>
	<form ng-submit="main.submit()" class="pure-form">
		<input type="text" placeholder="Example: Hello" ng-model="request.word">
		<button type="submit" class="pure-button">Add To Notes</button>
	</form></center>
</div>
	<div class="jumbotron text-center">
		<center><h2>Log in with:</h2></center>
		<br>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"> Facebook</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"> Google</a>
	</div>
</div>
</body>
<footer>
	<hr class="bottom_bar">
	<span>A project by <span class="name">Kai Kang</span> <br></span>
	Translation by <span class="spanishdict">spanishdict.com</span> <br>
	More of my projects: <span><a href="https://small-projects.herokuapp.com">small-projects.herokuapp.com</a></span> <br>
</footer>
</html>