* {
	font-family: 'Roboto', sans-serif;
}

.title {
	color :#2980b9;
}

.test {
	position : absolute;
	top : 0px;
	left : 50%;
}

.selectHome, .selectQuiz, .selectNote {
	border-top-left-radius: 20px;
	color : white;
	background-color: #95a5a6;
}

#content {
	background-color: #bdc3c7;
}

.view {
	padding-top: 20px;
}

.log {
	position: absolute;
	top: 30px;
	right: 5px;
}

a {
	color : white;
	cursor : pointer;
}

#content {
	padding-left: 20px;
	padding-top:20px;
}

.top_bar {
	margin: 1px;
	border : 0;
	height:2px;
	color : #3498db;
	background-color: #3498db;
}

.pure-button.submit {
	color : white;
	background-color:#3498db;
	border-radius : 15px;
}

.pure-button.add {
	color: white;
	background-color:#1abc9c;
	border-radius : 15px;	
}

body {
	padding : 10px;
}

.container {
	padding-top: 20px;
}

.active {
	background-color: #3498db;
}